@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<br />
<div class="wrapper">
    <h1 class="text-danger text-center title">Sorry!</h1>
    <h2 class="text-info text-center">An error occurred while processing your request.<br/>
    We logged it, We will fix it.
    </h2>
</div>

