@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}


<div class="page-header">
    <h2 class="text-info"> Here, You Can Control the whole website</h2>
</div>
<div>
    <a href="/" class="btn btn-success">Home</a>
</div>

