@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2 class="title1"> Pyment with Paypal Fail</h2>
    </div>
</body>
</html>
