
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<br />
<hr />
<h2 class="text-info title1 text-center" >Ok, our delivery agent will call you very soon</h2>
<h3 class="text-center text-success">Your Order Id #@ViewBag.id</h3>
<hr />
<br />