@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h2 class="title1">Payment success, Congratulations!</h2>
        <a href="/" class="btn btn-lg btn-primary">Home</a>
    </div>
</body>
</html>
